.calculator-div {
  margin: 0 auto;
  margin-top: 60px;
  border: 2px red solid;
  width: 272px;
}

.input {
  border: 2px black solid;
  width: 98%;
  height: 50px;
  font-size: 30px;
}

.buttons-div button {
  width: 67px;
  height: 50px;
  font-size: 20px;
}

button:nth-child(4),
button:nth-child(8),
button:nth-child(12),
button:nth-child(16),
button:nth-child(19) {
  background: orange;
}

button:nth-child(17) {
  width: 134px;
}
