.calculator-div {
  margin: 0 auto;
  margin-top: 60px;
  width: 272px;
}

.input {
  width: 269px;
  border: 2px black solid;
  height: 50px;
  font-size: 30px;
}

.buttons-div button {
  width: 67px;
  height: 50px;
  font-size: 20px;
}

button:nth-child(4),
button:nth-child(8),
button:nth-child(12),
button:nth-child(16),
button:nth-child(19) {
  background: orange;
}

button:nth-child(17) {
  width: 134px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 25px;
}

.navBar ul {
  display: flex;
  gap: 62px;
}

.navBar ul li {
  list-style-type: none;
}

.navBar ul li a {
  text-decoration: none;
  color: black;
}

.homePage {
  width: 100%;
  padding: 25px;
}

.homePage p {
  text-align: justify;
  margin-top: 50px;
}

.calculatorPage h2 {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 40px;
  margin-top: 20px;
}

.QuoteDiv p {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 30px;
  margin-top: 100px;
  font-weight: bolder;
  width: 80%;
}

.navBar ul li a:hover {
  color: red;
  text-decoration: underline;
}
